/**
==================================================
公共样式
==================================================
 */
.w {
  width: 960px;
  margin: 0 auto;
}
.cl {
  *zoom: 1;
}
.cl:before,
.cl:after {
  display: table;
  line-height: 0;
  content: "";
}
.cl:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/**
==================================================
头部
==================================================
 */
.g-header .header-top {
  height: 32px;
  line-height: 32px;
  background: darkgoldenrod;
}
.g-header .header-bot {
  height: 130px;
  background: darkgoldenrod;
}
.g-header .logo img {
  width: 260px;
}
.g-header .logo {
  background: #000;
  padding: 0 45px;
  float: left;
}
.g-header .search {
  padding-top: 18px;
  background: deeppink;
  width: 360px;
  float: left;
}
.g-header .cart {
  background: darkcyan;
  width: 250px;
  float: left;
}
.g-header .layui-nav {
  background: transparent;
}
.g-header .layui-nav .layui-this:after,
.g-header .layui-nav-bar,
.g-header .layui-nav-tree .layui-nav-itemed:after {
  background-color: transparent;
}
